<!DOCTYPE html>
<html>
<title>Create New Restaurant</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

    <div>
        <h1>Create New Restaurant</h1>
    </div>

    <form action="/createR" method="post" encType="multipart/form-data" 
        style="width:100%">
        <p>
	    <label>Restaurant ID</label>
            <input name="restaurant_id"  type="text">
            </p>
        <p>
            <p>
	         <label>Name:</label>
                <input name="name" type="text" required></p>
               
            <p>
	        <label>Borough:</label>
                <input name="borough" type="text"></p>
                
            <p>
            <p>
		    <label>Cuisine:</label>
                    <input name="cuisine" type="text"></p>
                <p>
		    <label>Street:</label>
                    <input name="street" type="text"></p>
                <p>
                    <p>
		        <label>Building:</label>
                        <input name="building" type="text"></p>
                    <p>
                        <p>
			    <label>Zipcode:</label>
                            <input name="zipcode"  type="text"></p>
                        <p>
                            <p>
			        <label>GPS Coordinates (lon.):</label>
                                <input name="lon" type="text"></p>
                            <p>
			        <label>GPS Coordinates (lat.):</label>
                                <input name="lat"  type="text"></p>
                            <p>
			        <label>Photo</label>
                                <input name="sampleFile" type="file"></p>
                               
                            <p>
                                <button> Create </button>
				<button onclick="goBack()">Go Back</button>

			 </p>
    </form>
		<script>
           		 function goBack() {window.history.back();}
		</script>
</body>

</html>
