<html>

<head>
    <title>Error</title>
</head>

<body>
    <div>
        <header>
            <h1>Error</h1>
        </header>

        <label><%= msg%></label>
        <br>
        <a href="/display?_id=<%=id%>">
            <button>Back</button>
        </a>
    </div>
</body>

</html>
