<html>

<head>
    <title>Login</title>
   
</head>

<body>
    <header >
        <h1>Login Page</h1>
    </header>

    <div >
        <p><%=msg%></p>
        <form action="/loginSection" method="post">
            <p>
                <label>Name</label></p>
                <input name="userid" type="text" style="width:90%" required="">
             
            <p>
                 <label>Password</label></p>
                <input name="password" type="password" style="width:90%">
               
            <p>
                <button> Log in </button>
                <button><a href='/register'>Register</a></button>
            </p>

        </form>

    </div>
</body>

</html>
