<html>

<head>
    <title>Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>

<body>
    <header>
        <h1>Register Page</h1>
    </header>

    <div>
        <p><%= error%></p>
        <form action="/signUp" method="post">
            <p>
                <label>Name:</label>
                <input name="userid" type="text" style="width:90%" required="">
                </p>
            <p>
                <label>Password:</label>
                <input name="password" type="password" style="width:90%">
               </p>
            <p>
                <button> Sign Up </button>
                <button><a href='/login'>Goto Login</a></button>

            </p>
        </form>
    </div>
</body>

</html>
