<html>

<head>
    <title>Delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <header>
            <h1>Message</h1>
        </header>
	<br>
        <label>[Restaurant was successfully deleted!!!]</label>
        <br>
        
            <button><a href="/index">Home</a></button>
   
    </div>
</body>

</html>
